# Final Project - Python For Data Analysis 
---
## Spambase dataset

#### Baptiste Lesn√© - Achille Ambrosi

In this notebook we will take care of data pre-processing :

- Encoding
- Normalization
- Imputation

And so on.

# Imports

---

In [126]:
import numpy as np
import pandas as pd
import re

# Loading the data

---

In [127]:
with open("spambase.data","r") as f:
    spambase_data = [i.split(",") for i in f.read().split('\n')]
with open("spambase.names",'r') as f :
    names = f.read()

Let's use regex to find all the columns names, and re.sub to optimize the names.

In [128]:
col = re.findall("word_freq.*?:|char_freq.*?:|capital_run.*?:",names) + ["spam"]
col = [i[:-1].replace("word_freq_","") for i in col]
col = [re.sub("word_freq_|char_freq_","",i) for i in col]

And we create the dataframe ! It represents the frequency at which emails are opened with different words or char in the title !

In [129]:
df = pd.DataFrame(spambase_data, columns = col)
df

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
0,0,0.64,0.64,0,0.32,0,0,0,0,0,...,0,0,0,0.778,0,0,3.756,61,278,1
1,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
2,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
3,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.353,0,0,1.555,4,14,0
4598,0.3,0,0.3,0,0,0,0,0,0,0,...,0.102,0.718,0,0,0,0,1.404,6,118,0
4599,0.96,0,0,0,0.32,0,0,0,0,0,...,0,0.057,0,0,0,0,1.147,5,78,0
4600,0,0,0.65,0,0,0,0,0,0,0,...,0,0,0,0.125,0,0,1.25,5,40,0
4601,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

# Missing values

---

In [130]:
df.isna().sum()

make                          0
address                       1
all                           1
3d                            1
our                           1
over                          1
remove                        1
internet                      1
order                         1
mail                          1
receive                       1
will                          1
people                        1
report                        1
addresses                     1
free                          1
business                      1
email                         1
you                           1
credit                        1
your                          1
font                          1
000                           1
money                         1
hp                            1
hpl                           1
george                        1
650                           1
lab                           1
labs                          1
telnet                        1
857                           1
data                          1
415                           1
85                            1
technology                    1
1999                          1
parts                         1
pm                            1
direct                        1
cs                            1
meeting                       1
original                      1
project                       1
re                            1
edu                           1
table                         1
conference                    1
;                             1
(                             1
[                             1
!                             1
$                             1
#                             1
capital_run_length_average    1
capital_run_length_longest    1
capital_run_length_total      1
spa                           1
dtype: int64

It does looks like we only have one rows where values are missing. We simply delete it.

In [131]:
df.dropna(axis=0, inplace=True)

In [132]:
df

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
0,0,0.64,0.64,0,0.32,0,0,0,0,0,...,0,0,0,0.778,0,0,3.756,61,278,1
1,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
2,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
3,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0,0.62,0,0,0.31,0,0,0,0,...,0,0.232,0,0,0,0,1.142,3,88,0
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.353,0,0,1.555,4,14,0
4598,0.3,0,0.3,0,0,0,0,0,0,0,...,0.102,0.718,0,0,0,0,1.404,6,118,0
4599,0.96,0,0,0,0.32,0,0,0,0,0,...,0,0.057,0,0,0,0,1.147,5,78,0
4600,0,0,0.65,0,0,0,0,0,0,0,...,0,0,0,0.125,0,0,1.25,5,40,0

# Encoding

---

Here encoding is needed as all values are as type $object$ instead of $float$ (they are frequencies) but the $spam$ variable.

In [133]:
df.dtypes

make                          object
address                       object
all                           object
3d                            object
our                           object
over                          object
remove                        object
internet                      object
order                         object
mail                          object
receive                       object
will                          object
people                        object
report                        object
addresses                     object
free                          object
business                      object
email                         object
you                           object
credit                        object
your                          object
font                          object
000                           object
money                         object
hp                            object
hpl                           object
george                        object
650                           object
lab                           object
labs                          object
telnet                        object
857                           object
data                          object
415                           object
85                            object
technology                    object
1999                          object
parts                         object
pm                            object
direct                        object
cs                            object
meeting                       object
original                      object
project                       object
re                            object
edu                           object
table                         object
conference                    object
;                             object
(                             object
[                             object
!                             object
$                             object
#                             object
capital_run_length_average    object
capital_run_length_longest    object
capital_run_length_total      object
spa                           object
dtype: object

In [134]:
columns = df.columns
for c in columns[:-1]:
    df[c] = df[c].apply(lambda x : float(x))

df["spa"] = df["spa"].apply(lambda x: int(x))

In [135]:
df.dtypes

make                          float64
address                       float64
all                           float64
3d                            float64
our                           float64
over                          float64
remove                        float64
internet                      float64
order                         float64
mail                          float64
receive                       float64
will                          float64
people                        float64
report                        float64
addresses                     float64
free                          float64
business                      float64
email                         float64
you                           float64
credit                        float64
your                          float64
font                          float64
000                           float64
money                         float64
hp                            float64
hpl                           float64
george                        float64
650                           float64
lab                           float64
labs                          float64
telnet                        float64
857                           float64
data                          float64
415                           float64
85                            float64
technology                    float64
1999                          float64
parts                         float64
pm                            float64
direct                        float64
cs                            float64
meeting                       float64
original                      float64
project                       float64
re                            float64
edu                           float64
table                         float64
conference                    float64
;                             float64
(                             float64
[                             float64
!                             float64
$                             float64
#                             float64
capital_run_length_average    float64
capital_run_length_longest    float64
capital_run_length_total      float64
spa                             int64
dtype: object

In [136]:
df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61.0,278.0,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101.0,1028.0,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485.0,2259.0,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40.0,191.0,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40.0,191.0,1

# Outliers and Normalization 

---

Some cleaning is needed :

In [137]:
df.describe()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

## Outliers

In [138]:
from scipy.stats import mstats

In [139]:
df.describe()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

Here we get rid of the $1$% outliers in the dataset and set them to the $1$% or $99th$% depending.

In [140]:
columns = df.columns
for c in columns[:-1]:
    df[c] = pd.Series(mstats.winsorize(df[c], limits=[0.01, 0.01])).to_list()

In [141]:
df.describe()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spa
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.00000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.095427,0.124808,0.272499,0.000409,0.296027,0.090152,0.106049,0.091265,0.085560,0.222856,...,0.026007,0.132421,0.012523,0.238233,0.06731,0.026609,3.601388,47.161487,271.586829,0.394045
std,0.239226,0.424527,0.458746,0.004023,0.559141,0.227576,0.319774,0.271539,0.243651,0.495790,...,0.090163,0.190463,0.044865,0.440004,0.15672,0.101407,5.146091,103.631554,478.116807,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,1.000000,3.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.00000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.05200,0.000000,3.706000,43.000000,266.000000,1.000000
max,1.260000,3.270000,2.270000,0.040000,2.940000,1.210000,1.960000,1.620000,1.330000,2.650000,...,0.645000,1.030000,0.284000,2.631000,0.89400,0.763000,44.720000,669.000000,3027.000000,1.000000

In [142]:
df.to_csv("spambase_prep.csv", sep=";")

## Normalization

We normalize the data into a new dataframe. It could be useful for interpretation later on.

In [143]:
df = (df-df.min())/(df.max()-df.min())

In [144]:
df.to_csv("spambase_prep_norm.csv", sep=";")